
body {
  margin: 0;
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.card1 {
  flex: 1;
  overflow-y: auto;
}
.card2 {
  flex: 1;
  overflow-y: auto;
}
.code-card {
  cursor: pointer;
  background-color: #EEE;
}
.code-card:hover {
  cursor: pointer;
  background-color: #AAA;
}